:root{
    --green: #00A149;
    --white: #fff;
    --red: #881014;
    --black: #000;
    --sky: #678bdf;

    --titles: 'Arima Madurai', cursive;
    --paragraphs: 'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
*,*::after, *::before{
    box-sizing: inherit;
}


/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titles);
}
h3,p,a{
    font-family: var(--paragraphs);
}
.sky{
    color: var(--sky);
}
.ocultar{
    display: none;
}
/*Creamos el boton de X dentro del html */
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

/*Para hacer que se genere la manita al pasar el cursor por el boton */
.btn-cerrar:hover{
    cursor: pointer;
}


/* encabezado*/
/* para poder usar los z-index debemos tener position relative y el mayor z index va ser el que este arriba del mas bajo*/
.contenedor-navegacion{
    background-color: var(--black);
    position: relative;
    z-index: 5;
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a{
    color: var(--white)
}
.logo{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    transition: color .3s ease-in-out;
}
/*Todos los que sean pares seran azules cuando pase el cursor arriva de ellos*/
.navegacion a:nth-child(even):hover{
    color: var(--sky);
}
/*Todos los que sean inpares seran azules cuando pase el cursor arriva de ellos*/

.navegacion a:nth-child(odd):hover{
    color: var(--sky);
}

.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40 rem;
    padding: 3rem 4rem;
    background-color: var(--black);

}
.hamburguesa span{
    background-color: var(--white);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}