:root{
    --green: #00A149;
    --white: #fff;
    --red: #881014;
    --black: #000;
    --sky: #678bdf;

    --titles: 'Arima Madurai', cursive;
    --paragraphs: 'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
*,*::after, *::before{
    box-sizing: inherit;
}


/*globales*/
.contenedor{
    max-width: 150rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titles);
}
h3,p,a{
    font-family: var(--paragraphs);
}
.sky{
    color: var(--sky);
}
.ocultar{
    display: none;
}
img{
    max-width: 100%;
}
/*Creamos el boton de X dentro del html */
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

/*Agregamos animacion a la salida y entrada de la barra de navegacion cuando el usuario lo seleccione*/
@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

/*Para hacer que se genere la manita al pasar el cursor por el boton */
.btn-cerrar:hover{
    cursor: pointer;
}

.btn{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
@media(min-width:768px){
    .btn{
        font-size: 2.2rem;
    }
}

.bordes{
    border: 3px solid var(--white);
}
@media(min-width:768px){
    .bordes{
        border: 4px solid rgba(0,0,0,.5);
    }
}


.btn:hover{
    color: var(--white);
    background-color: var(--black);
}

/* .btn-negro{
    background-color: var(--black);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--paragraphs);
} */

/* Configuracion del boton contact*/
.btn-rojo{
    background-color: var(--black);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-negro{
    background-color: var(--black);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--paragraphs);
    cursor: pointer;
}
.btn-negro:hover{
    color: var(--sky);
    transition: all .3s ease-in-out;
}

/* encabezado*/
/* para poder usar los z-index debemos tener position relative y el mayor z index va ser el que este arriba del mas bajo*/
.contenedor-navegacion{
    background-color: var(--black);
    position: relative;
    z-index: 5;
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a{
    color: var(--white)
}
.logo h2{
    font-size: 3rem;
}
/*Estilos para los usuarios de moviles*/
.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}
/*Estilos que veran los usuarios de dispositivos mas grandes*/
@media(min-width: 768px){
    .navegacion a{
        text-align: left;
    }
}

/*Todos los que sean pares seran azules cuando pase el cursor arriva de ellos*/
.navegacion a:nth-child(even):hover{
    color: var(--sky);
}
/*Todos los que sean inpares seran azules cuando pase el cursor arriva de ellos*/

.navegacion a:nth-child(odd):hover{
    color: var(--sky);
}

.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--black);
    /*Agregamos la animacion a la barra de navegacion*/
    animation: desplazamiento .5s ease-in-out;

}

.hamburguesa:hover{
    cursor: pointer;
}
.hamburguesa span{
    background-color: var(--white);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}

/*Configuracion del video*/
.contenido-header{
    position: relative;
}
.contenido-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);

}
/*para personalizar el texto que ira centrado en el video de fondo*/
.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*como se vera el texto en moviles*/
.texto-encabezado h2{
    color: var(--white);
    font-size: 3rem;
}

/* coomo se vera el texto en tablets*/
@media(min-width:768px){
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

/*Sobre nosotros*/
.contenedor-nosotros{
    padding-top: 5rem;
}
/* configuracion para dispositivos mas grandes*/
@media(min-width:768px){
    .contenedor-nosotros{
        display: flex;
        justify-content: space-between;
    }
    

}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}
.imagenes2 img{
    margin-bottom: 1rem;
}

/*Configuracion del texto*/
.texto-nosotros .welcome{
    font-size: 4rem;
    color: var(--sky);
    text-align: center;
}
@media(min-width:768px){
    .texto-nosotros .welcome{
        text-align: left;
    }
    

}
.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
}
@media(min-width:768px){
    .texto-nosotros h1{
        text-align: left;
    }
    

}
.texto-nosotros p{
    font-size: 2rem;
    text-align: center;
}
@media(min-width:768px){
    .texto-nosotros p{
        text-align: left;
    }
}

.menu{
    padding-top: 4rem;
}
/*Configuracion para la vista de los platillos*/
.texto-platillos{
    text-align: center;
    font-size: 5rem;
}
/* configuracion de los botones del menu de platillos */


.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}

@media(min-width: 768px) {
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button{
        flex: unset;
    }
}
@media(min-width: 768px) {
    .platillos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.platillo{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}

.platillo h2{
    text-align: center;
}
.platillo p{
    font-size: 1.8rem;
}
.precio{
    display: flex;
    justify-content: space-between;
}
.precio p{
    font-weight: bold;
    font-size: 2rem;
}
.precio button{
    padding:1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    height: 3.8rem;
}

.precio:hover button{
    cursor: pointer;
    color: var(--sky);
    transition: all .3s ease-in-out;
}
.separador{
    background-image: url('../img/ensalada.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.contenido-separador{
    padding: 5rem;
}
.contenido-separador h2{
    font-size: 4rem;
    color: var(--white);
    text-align: center;
}
@media(min-width:768px){
    .contenido-separador h2{
        text-align: left;
        font-size: 5rem;
        color: var(--white);
    }
}
.contenido-separador p{
    color: var(--white);
    font-size: 3rem;
    text-align: center;
}
@media(min-width:768px){
    .contenido-separador p{
        text-align: left;
    }

}
